zappa==0.43.1
gunicorn==19.7.1
boto3==1.5.7
requests==2.18.4
Flask==0.12.2
Flask-WTF==0.14.2
Flask-Bootstrap==3.3.7.1
Flask-Socketio==2.9.3
imageio==2.2.0
heroku3==3.3.0
celery==4.1.0
redis==2.10.6
eventlet==0.21.0
