{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}
<div class="container">
    {{ wtf.quick_form(form, action=url_for('index'), button_map={'submit_button': 'primary'}) }}
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
  $(document).ready(function() {
    namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!'});
        $('#log').append('<br>' + $('<div/>').text('Connected!').html());
    });

    socket.on('progress', function(msg) {
        $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.state).html());
        console.log('Received: ' + msg.state);
        if (msg.state == 'SUCCESS') {
          gif = msg.result['paths_to_gifs']['gifUrl']
          console.log('Received: ' + JSON.stringify(msg.result));
          $('#log').append('<br><img src="' + gif + '"/>')
        }
    });
  });
</script>

<h2>Receive:</h2>
<div id="log"></div>
{%- endblock %}
